// Define variables for your color scheme

// For example:
// $red: #FD1015;

$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$new-green: #52B788;
$gray: #0E0000;
$light-gray: #F4F4F4;
$light-medium-grey: #c0bebe;
$medium-grey: #A3A3A3;
$dark-grey :#595959;

// countify
// $green: #01FF70;
$green: #52B788;
$red-bis:#de4b4a;
$red: #e64948;
// $green2: #2DCC40;
$green2: #52B788;
$blue: #717DF7;
$gold: #F7BD76;
$violet: #717DF7;
$medium-violet: #7f87da;
$light-violet: #EBEDFD;
$dark-blue : #203650;
