<div class="big-container">
  <div class="container container-index-company">
    <h1>Votre rôle</h1>

    <div class="container-role">
      <p><%= link_to 'Comptable', new_accountant_path %></p>
    </div>

    <div class="container-role">
      <p><%= link_to 'Entreprise', new_company_path %></p>
    </div>

  </div>
</div>

