.avatar {
  width: 40px;
  border-radius: 50%;
}
.avatar-large {
  width: 56px;
  border-radius: 50%;
}
.avatar-bordered {
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}
.avatar-square {
  width: 40px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}

#navbarDropdown{
  width: 44px;
  height: 44px;
  background-color: $gold;
  display: flex;
  text-align: center;
  border-radius: 50%;

  p{
    position: relative;
    margin-top: 1px;
    margin-left: 8.5px;
    top: 25%; /* 25% of parent */
    font-size: 20px; /* 50% of parent */
    line-height: 20px; /* 50% of parent */
    color: #fff;
    font-weight: bold;
    content: none;
  }
  p:hover{
    cursor: pointer;
  }
}
