.banner {
  height: 50vh;
  background: rgb(113,125,247);
  background: linear-gradient(180deg, rgba(113,125,247,1) 0%, rgba(162,170,255,1) 43%, rgba(255,255,255,1) 100%);

  h1 {
    color: white;
    font-size: 56px;
    padding-top: 32px;
    margin-bottom: 56px;
    margin-left: 64px;
  }
}
