.button-recherche {
  background-color: $gold;
  border: none;
  color: white;
  font-size: 16px;
  // box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 7px 8px 7px 8px;
  margin-bottom: 20px;
  &:hover {
    text-decoration: none;
    background-color: $gold;
    color: white;
    transition: 0.2s ease-in;
    filter: brightness(90%);
  }
}

.button-export {
  background-color: $violet;
  display: inline-block;
  text-align: center;
  width: 200px;
  font-size: 18px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 6px;
  &:hover{
    transition: 0.2s ease-in;
    filter: brightness(90%);
  }
  a{
    color: white;
  }
  a:hover {
    text-decoration: none;
    color: white;
  }
}

.button-reconciliation {
  background-color: $violet;
  color: white;
  font-size: 24px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 4px 8px 4px 8px;
  &:hover {
    text-decoration: none;
    color: white;
  }
}

.buttons-operations-invoices {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 72px 0 72px;
}

.button-new-operation {
  color: $gold;
  &:hover {
    text-decoration: none;
    color: $gold;
  }
}

.fa-plus-circle {
  height : 16px;
  color: $violet;
  margin-right: 8px;
  // filter: invert(96%) sepia(75%) saturate(4830%) hue-rotate(305deg) brightness(103%) contrast(94%);
}

#btn-add-ope {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  a {
    color: $gold;
    font-style: italic;
  }
  &:hover {
    text-decoration: none;
    color: $dark-blue;
    .fa-plus-circle{
      color: $dark-blue;
    }
  }
}

.buttons-index-operations {
  display: flex;
  justify-content: space-between;
}

.button-how-it-works {
  background-color: $gold;
  border: 2px solid $gold;
  color: white;
  font-size: 16px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 12px 28px;
  border-radius: 50px;
  transition: opacity 0.3s ease;
  margin-left: 64px;
  &:hover {
    text-decoration: none;
    color: $gold;
    background-color: $white;
  }
}


.button-contact {
  color: white;
  border: 2px solid $white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  font-size: 16px;
  padding: 12px 28px;
  border-radius: 50px;
  transition: opacity 0.3s ease;
  margin-left: 25px;
  &:hover {
    color: $gold;
    border-color: $gold;
    text-decoration: none;
  }
}


.button-return{
  font-size: 64px;
  &:hover{
    text-decoration: none;
  }
  a {
    color: $gold;
    margin: 180px;
  }
}

.button-device{
  a {
    color: $gold;
  }
}

.button-sign-up {
  background-color: $gold;
  color: white;
  font-size: 14px;
  padding: 7px;
  width: 130px;
  border-radius: 50px;
  transition: opacity 0.3s ease;
  opacity: 0.9;
  text-align: center;
  margin-right: 30px;
  &:hover{
    opacity:1;
    text-decoration: none;
    color: white;
  }
}

.button-connect{
  border: 1px solid white;
  font-size: 14px;
  padding: 7px;
  width: 130px;
  border-radius: 50px;
  transition: opacity 0.3s ease;
  opacity: 0.9;
  text-align: center;
  margin-right: 30px;
  color: white;
  &:hover{
    opacity:1;
    color: $gold;
    border-color: $gold;
    text-decoration: none;
  }
}

.button-top {
  margin: 0 auto;
  background-color: white;
  color: $violet;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  border-radius: 24px;
  padding: 8px 16px 8px 16px;
  &:hover {
    text-decoration: none;
    color: $violet;
  }
}

.button-transform {
  transition: 0.25s;
  &:hover{
    transform: scale(1.01);
  }
}

.show-edit-btn {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  .fa-xs {
    font-size: 1em;
  }
  .fa-trash-alt {
    color: $red-bis;

    &:hover {
      opacity: 0.5;
    }
  }

  .fa-pen:hover {
    opacity: 0.5;
  }
}
