.button-recherche {
  background-color: $gold;
  border: none;
  color: white;
  font-size: 16px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 4px 8px 4px 8px;
  &:hover {
    text-decoration: none;
    background-color: $gold;
    color: white;
    transition: 0.2s ease-in;
    filter: brightness(90%);
  }
}

.button-export {
  background-color: $violet;
  display: inline-block;
  text-align: center;
  width: 200px;
  font-size: 18px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 6px;
  &:hover{
    transition: 0.2s ease-in;
    filter: brightness(90%);
  }
  a{
    color: white;
  }
  a:hover {
    text-decoration: none;
    color: white;
  }
}

.button-reconciliation {
  background-color: $violet;
  color: white;
  font-size: 24px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 4px 8px 4px 8px;
  &:hover {
    text-decoration: none;
    color: white;
  }
}

.button-new-operation {
  color: $gold;
  &:hover {
    text-decoration: none;
    color: $gold;
  }
}

.button-new-operation-plus {
  height : 16px;
  filter: invert(96%) sepia(75%) saturate(4830%) hue-rotate(305deg) brightness(103%) contrast(94%);
}

.button-contact {
  background-color: $gold;
  color: white;
  font-size: 24px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 8px 16px 8px 16px;
  margin-top: 56px;
  margin-left: 64px;
  &:hover {
    text-decoration: none;
    color: white;
  }
}

.button-return{
  a {
    color: $gold;
    margin: 180px;
  }
}
