.cards-disposition {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 16px;
  row-gap: 16px;
}

.cards-company {
  display: flex;
  border: 1px black solid;
  padding: 16px;
  padding-left: 0px;
  overflow: hidden;
}
.cards-company-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 8px;
  width: 180px;
  img {
    height: 80px;
  }
}

.cards-company-name {
    font-size: 24px;
    margin-bottom:8px;
}

.class-company-content {
    font-size: 8px;
}

.cards-company-progression-to-do {
  background-color: $violet;
  height: 4px;
  width: 80%;
}

.cards-company-progression-done {
  background-color: $gold;
  height: 4px;
}

.presentation {
}
.cards-etape {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 300px;
  margin: 24px 240px 24px 240px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 8px;
  background-color: white;
  h3 {
    margin: 32px;
  }
  img {
    height: 70%;
    margin: 32px;
  }
}
