.carousel-img {
  height: 450px;
  object-fit: contain;
}

.carousel-content {
  display:flex;
  justify-content: space-between;
  align-items: flex-end;
}

.carousel-text {
  vertical-align: baseline;

  p {
    margin-bottom: 0px;
    margin-top: 1rem;
  }
}

.fa-angle-double-left, .fa-angle-double-right {
  color: $violet;
  font-size: 32px;
}

.carousel-indicators li {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 30px;
  height: 3px;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: $violet;
  background-clip: padding-box;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  opacity: .5;
  transition: opacity 0.6s ease;
}