.container-index-operation {
  width: 120vh;
  margin: 0 auto;
}

.container-btn-add-ope {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.display-form-export {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

