.container-index {
  width: 120vh;
  margin: 0 auto;
}

.container-btn-add-ope {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.display-form-export {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-ope-show-title h1 {
  display: inline-block;
  justify-content: flex-start;
  width: 100%;
}

.container-table-show {
  margin-top: 56px;
  margin-bottom: 32px;
}

.container-index-company {
  width: 120vh;
  margin: 0 auto;
  display: flex;
}

.company-title {
  display: flex;
  justify-content : center;
  margin-top :20px;
}
