.big-container {
  margin-top: 115px;
}

.container-index {
  width: 120vh;
  margin: 0 auto;
  background-color: white;
  h2 {
    color: $dark-grey;
    margin: 30px 0px;
  }
}


.main-container-home {
  margin-top: 60px;
  margin-bottom: 60px;
}


#title-device{
  color: $dark-grey;
  padding: 30px 0px;
}

.display-form-export {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// .container-ope-show-title h1 {
//   display: inline-block;
//   justify-content: flex-start;
//   width: 100%;
// }

.container-table-show {
  margin-top: 56px;
  margin-bottom: 32px;
}

.container-index-company {
  background-color: white;
  height: 100vh;
  width: 100%;
  margin-top: 40px;
  margin-bottom: 80px;
  padding: 0 80px 0 80px;
  text-align: left;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  h1 {
    color: $dark-grey;
    padding: 32px 0 64px 0;
  }

}

.company-title {
  display: flex;
  justify-content : center;
  margin-top :20px;
}

.container-index-operations {
  width: 80%;
  margin: 40px auto;
}

.container-operations-general {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  background-color: white;
  margin-bottom: 16px;
  width: 100%;
  padding: 32px;
}

.container-table-operations {
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  background-color: white;
  width: 100%;
  padding-bottom: 56px;
  h2 {
    color: $dark-grey;
    padding: 32px 0 32px 0;
  }
}

.container-show-operations {
  width: 80%;
  margin: 0 auto;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  padding-left: 32px;
  h2 {
    padding: 32px 0 32px 0;
  }
}

.container-center-company{
  justify-items: center;
}
