
@import url(https://fonts.googleapis.com/css?family=Exo+2:400,700,500,300);




// body {
//   background: #ebeff2;
//   font-family: "Exo 2";
// }

.dropzone {
    position: relative;
    margin: auto;
    // position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    background: radial-gradient(ellipse at center,white 0,#F4F4F4 100%);
    width:100%;
    height:300%;
    border:1px solid #A3A3A3;
    text-align:center;
    color: #595959;
    z-index: 1;
    transition: all 0.3s ease-out;
    box-shadow: 0 0 0 1px rgba(255,255,255,.05),inset 0 0 .25em 0 rgba(0,0,0,.25);
    padding: 32px;
    padding-bottom: 50px;
    margin: 50px 0 50px 0;

    .preview {
      // .fa-trash {
      //   text-decoration: none;
      //   &:hover {
      //     display: block;
      //   }
      // }
      img {
        width: 60px;
        height: 60px;
        margin: 5px;
        display: inline;
        border-radius: 10px;
        transition-duration: 350ms;
        &:hover {
          filter: grayscale(50%);


        }
      }
    }
  .selectFile {

    .active {
      background: #dee2ff;
      // color:white;
    }
  }
  i {
    text-align: center;
    font-size: 7em;
    color:#EBEDFD;
    margin: 50px;
  }
  #file {
    height: 50px;
    margin: 20px auto;
    position: relative;
    width: 200px;
    // color: white;
  }

  label, input {
    cursor: pointer;
    display: block;
    height: 50px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    border-radius: 5px;
  }

  label {
    background: #fff;
    color:#dee2ff;
    display: inline-block;
    font-size: 1.2em;
    line-height: 50px;
    padding: 0;
    text-align: center;
    white-space: nowrap;
    text-transform: uppercase;
    font-weight: 400;
    box-shadow: 0 1px 1px gray;
  }

  // input[type=file] {
  //   opacity: 0;
  // }

}
// .dropzone.in {
//   color:white;
//   border-color:white;
//   background: radial-gradient(ellipse at center,#dee2ff 0,#b2b8fe 100%);
//   i {
//     color:#fff;
//   }
//   label {
//     background: #fff;
//     color:#dee2ff;
//   }
// }
// .dropzone.hover {
//   color:gray;
//   border-color:white;
//   background:#fff;
//   border:5px dashed gray;
//   i {
//     color:#dee2ff;
//   }
//   label {
//     background: #fff;
//     color:#dee2ff;
//   }
// }
// .dropzone.fade {
//   transition: all 0.3s ease-out;
//   opacity: 1;
// }

