.invoice-preview {
  object-fit: contain;
  height: 80px;
}

.img-status {
  height: 24px;
  width: 24px;
}

.fa-question-circle {
  color: $orange;
  font-size: 24px;
}

.fa-check-circle {
  color: $green2;
  font-size: 24px;
}

.fa-times-circle {
  color: red;
  font-size: 24px;
}

.fa-arrow-alt-circle-down {
  color: $green;
  font-size: 24px;
}

.fa-arrow-alt-circle-up {
  color: red;
  font-size: 24px;
}
