.navbar-lewagon {
  justify-content: space-between;
  background: $violet;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-logo {
  text-align: center;
  padding: 0 32px 0 32px;
  img{
    height: 50px;
  }
  p {
    font-size: 12px;
  }
}

