table {
  margin: 0 auto;
  width: 90%;
}

tbody tr {
  border-bottom: 1px solid $light-gray;
  text-align: center;

  &:hover {
    cursor: pointer;
    background-color: $white;
    box-shadow: 2px 2px 2px rgba(1, 1, 1, 0.3);
    height: 103%;
    width: 120%;
  }
}

thead tr {
  border-bottom: 2px solid $medium-grey;
}

#description {
  text-align: left;
}

td {
  padding: 20px 10px;
}

thead {
  text-align: center;
  th {
    padding: 20px 10px;
    font-weight: 500;
  }
}

td img {
  width: 16px;
  height: 16px;
}
